---
layout: layouts/base.njk
---

{{ startseite.Titel }}
{% for item in startseite.Inhalt %}
    {% if item.__component == "text.formattierter-text" %}
        {%- from "components/FormattierterText.njk" import FormattierterText -%}
        {{ FormattierterText({content: item.FormattierterText}) }}
    {% endif %}
{% endfor %}
