---
layout: layouts/base.njk
---

{{ startseite.Titel }}
{% for item in startseite.Inhalt %}
    {% if item.__component == "text.formattierter-text" %}
        <div class="content">
            <p>{{ item.FormattierterText | markdownify | safe }}</p>
        </div>
    {% endif %}
{% endfor %}
