---js
{
    layout: "layouts/base-container.njk",
    pagination: {
        data: "seiten",
        size: 1,
        alias: "seite",
    },
    permalink: "{{seite.Permalink | slug}}/",
    eleventyComputed: {
        title: "{{seite.Titel}}"
    }
}
---
{%- from "components/DynamicZone.njk" import DynamicZone -%}
{{ DynamicZone({Inhalt: seite.Inhalt}) }}
