---js
{
    layout: "layouts/base-container.njk",
    pagination: {
        data: "seiten",
        size: 1,
        alias: "seite",
    },
    permalink: "{{seite.Permalink | slug}}/",
    eleventyComputed: {
        title: "{{seite.Titel}}"
    }
}
---
<h1 class="title is-2">{{seite.Titel}}</h1>
{% if seite.Seitenspalte.length > 0 %}
    <div class="columns">
        <div class="column is-two-thirds">
        {% endif %}
        {%- from "components/DynamicZone.njk" import DynamicZone -%}
        {{ DynamicZone({Inhalt: seite.Inhalt}) }}
        {% if seite.Seitenspalte.length > 0 %}
        </div>
        <div class="column aside">
            <div class="box">
                {{ DynamicZone({Inhalt: seite.Seitenspalte}) }}
            </div>
        </div>
    </div>
{% endif %}
