<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/images/logo.png" width="187" height="182" class="ea-brand-logo mr-2"/>
                <h1 class="title is-4 has-text-white">Eagles Line Dancers</h1>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMain" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item"> Startseite </a>

                <a class="navbar-item"> Kontakt </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link"> Tanzen </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item"> Kurse </a>
                        <a class="navbar-item"> Repertoire </a>
                        <a class="navbar-item"> Teachers </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
