---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Seite nicht gefunden">
  <section class="section">
    <div class="container">
      <h1 class="title">Diese Seite existiert leider nicht...</h1>
      <a class="button is-primary" href="/">Zurück zur Startseite</a>
    </div>
  </section>
</Layout>
