---
import startseite from "../_data/startseite.json";
import Layout from "../layouts/Layout.astro";
import StartpageTitle from "../components/StartpageTitle.astro";
import DynamicZone from "../components/DynamicZone.astro";
---

<Layout>
	<StartpageTitle title={startseite.Titel} />
	<section class="section">
    <div class="container">
			<DynamicZone items={startseite.Inhalt} />
		</div>
	</section>
</Layout>

