---
import startseite from "../_data/startseite.json";
import Layout from "../layouts/Layout.astro";
import StartpageTitle from "../components/StartpageTitle.astro";
---

<Layout>
	<StartpageTitle title={startseite.Titel} />
	<section class="section">
	    <div class="container">
	</section>
</Layout>

