{% macro DynamicZone(params) %}
    {% for item in params.Inhalt %}
        {% if item.__component == "text.formattierter-text" %}
            {%- from "components/FormattierterText.njk" import FormattierterText -%}
            {{ FormattierterText({content: item.FormattierterText}) }}
        {% elif item.__component == "text.abschnittstitel" %}
            <h2 class="title is-4 {% if item.Linie %}ea-title-line{% endif %}">
                <span>{{ item.Abschnittstitel }}</span>
            </h2>
        {% elif item.__component == "interaktion.seitenlink" %}
            <a class="button is-primary" href="/{{item.Seite.Permalink}}/">{{item.Beschriftung}}</a>
        {% elif item.__component == "medien.bild" %}
            <figure class="image">
                <img src="https://eagles.kemet.ch{{item.Bild.url}}">
            </figure>
        {% elif item.__component == "interaktion.kontaktformular" %}
            {%- from "components/Form.njk" import Form -%}
            {{ Form({fields: item.Formularfeld}) }}
        {% elif item.__component == "layout.personenraster" %}
            {%- from "components/Personenraster.njk" import Personenraster -%}
            {{ Personenraster({people: item.Personeneintrag}) }}
        {% endif %}
    {% endfor %}
{% endmacro %}
