{% macro DynamicZone(params) %}
    {% for item in params.Inhalt %}
        {% if item.__component == "text.formattierter-text" %}
            {%- from "components/FormattierterText.njk" import FormattierterText -%}
            {{ FormattierterText({content: item.FormattierterText}) }}
        {% elif item.__component == "text.abschnittstitel" %}
            <h2 class="title is-4 {% if item.Linie %}ea-title-line{% endif %}">
                <span>{{ item.Abschnittstitel }}</span>
            </h2>
        {% elif item.__component == "interaktion.seitenlink" %}
            <a class="button is-primary" href="/{{ item.Seite.Permalink }}/">{{ item.Beschriftung }}</a>
        {% elif item.__component == "interaktion.download" %}
            <a class="button is-primary" href="/images{{ item.Dokument.url }}">{{ item.Name }}</a>
        {% elif item.__component == "medien.bild" %}
            <img alt="{{ item.Bild.name }}" src="/images{{ item.Bild.url }}">
        {% elif item.__component == "medien.galerie" %}
            {%- from "components/Gallery.njk" import Gallery -%}
            {{ Gallery({images: item.Galerie}) }}
        {% elif item.__component == "interaktion.kontaktformular" %}
            {%- from "components/Form.njk" import Form -%}
            {{ Form({fields: item.Formularfeld, forwarding: item.Weiterleitung}) }}
        {% elif item.__component == "layout.personenraster" %}
            {%- from "components/Personenraster.njk" import Personenraster -%}
            {{ Personenraster({people: item.Personeneintrag}) }}
        {% elif item.__component == "layout.monatstanz" %}
            {%- from "components/Monatstanz.njk" import Monatstanz -%}
            {{ Monatstanz({dates: item.Daten, dances: item.Tanz}) }}
        {% elif item.__component == "layout.workshop" %}
            {%- from "components/Workshop.njk" import Workshop -%}
            {{ Workshop({titles: item.Tabellentitel, rows: item.Tabellenzeilen}) }}
        {% endif %}
    {% endfor %}
{% endmacro %}
