{% macro Form(params) %}
    <form data-netlify="true" action="/" name="Kontaktformular" method="POST">
        {% for field in params.fields %}
            {% if field.Feldart == "Text" %}
                <div class="field">
                    <label class="label">{{field.Beschriftung}}</label>
                    <div class="control">
                        <input name="{{field.Beschriftung}}" class="input" type="text"/>
                    </div>
                </div>
            {% elif field.Feldart == "Email" %}
                <div class="field">
                    <label class="label">{{field.Beschriftung}}</label>
                    <div class="control">
                        <input name="{{field.Beschriftung}}" class="input" type="email"/>
                    </div>
                </div>
            {% elif field.Feldart == "Textblock" %}
                <div class="field">
                    <label class="label">{{field.Beschriftung}}</label>
                    <div class="control">
                        <textarea name="{{field.Beschriftung}}" class="textarea"></textarea>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" type="submit">Absenden</button>
            </div>
        </div>
    </form>
{% endmacro %}
