{% macro FrontpageTitle(params) %}
    <div class="ea-frontpage-title">
        <section class="section">
            <div class="container">
                <h2 class="title is-1 has-text-primary">{{ params.title }}</h2>
            </section>
        </div>
    </div>
{% endmacro %}
