{% macro Gallery(params) %}
    <div class="columns is-multiline">
        {% for image in params.images%}
            <div class="column is-one-third">
                <figure class="image">
                    <img alt="{{image.name}}" src="https://eagles.kemet.ch{{image.url}}">
                </figure>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
