{% macro Gallery(params) %}
    <div class="picture-grid">
        {% for image in params.images %}
            {% image "https://admin.eagleslinedancers.ch" + image.url,
                image.alternativeText, image.width, image.height %}
        {% endfor %}
    </div>
{% endmacro %}
