{% macro Gallery(params) %}
    <div class="picture-grid">
        {% for image in params.images %}
            <figure class="image">
                <img alt="{{ image.name }}" src="/images{{ image.url }}" loading="lazy" decoding="async" width="{{ image.width }}" height="{{ image.height }}"/>
            </figure>
        {% endfor %}
    </div>
{% endmacro %}
