{% macro Monatstanz(params) %}
    <div class="table-container">
        <table class="table is-hoverable">
            <thead>
                <tr>
                    <th></th>
                    {% for date in params.dates %}
                        <th>
                            <h4 class="title is-4">
                                {{ date.Datum }}
                            </h4>
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for dance in params.dances %}
                    <tr>
                        <td>
                            <h5 class="title is-5">
                                {{ dance.Tanz }}
                            </h5>
                        </td>
                        {% for date in params.dates %}
                            <td>
                                <h5 class="title is-5 has-text-centered">x</h5>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}
