---
import FormattierterText from "./dynamics/FormattierterText.astro";

interface Props {
  items: any[];  
}

const { items } = Astro.props;
---

{
  items.map(item => {
    switch(item.__component) {
      case "text.formattierter-text":
        return <FormattierterText content={ item.FormattierterText } />;
      case "interaktion.seitenlink":
        return <a class="button is-primary" href={`/${ item.Seite.Permalink }`}>{ item.Beschriftung }</a>
      default: 
        console.log(item.__component);
        return <h2>Fallback</h2>;
    }
  })
}
