---
import FormattierterText from "./dynamics/FormattierterText.astro";

interface Props {
  items: [];  
}

const { items } = Astro.props;
---

{
  items.map(item => {
    if (item.__component === "text.formattierter-text") {
      return <FormattierterText content={ item.FormattierterText } />;
    }
    return <h2>Fallback</h2>;
  })
}
