---
interface Props {
  items: [];  
}


const { items } = Astro.props;
console.log({items});
---

{
  items?.map(item => {
    if (item.__component === "text.formattierter-text") {
      return <h1>Formattierter Text</h1>;
    }
    return <h2>Fallback</h2>;
  })
}
