---
import FormattierterText from "./dynamics/FormattierterText.astro";
import AbschnittsTitel from "./dynamics/AbschnittsTitel.astro";
import Button from "./dynamics/Button.astro";
import Form from "./dynamics/Form.astro";
import Bild from "./dynamics/Bild.astro";
import Gallery from "./dynamics/Gallery.astro";
import Personenraster from "./dynamics/Personenraster.astro";

interface Props {
  items: any[];  
}

const { items } = Astro.props;
---

{
  items.map(item => {
    switch(item.__component) {

      case "text.formattierter-text":
        return <FormattierterText content={ item.FormattierterText } />;

      case "text.abschnittstitel": 
        return <AbschnittsTitel title={ item.Abschnittstitel } line={ item.Linie } />;

      case "interaktion.seitenlink":
        return <Button href={ `/${ item.Seite.Permalink }`} label={ item.Beschriftung } />;

      case "interaktion.download": 
        return <Button href={ `/images${ item.Dokument.url }` } label={ item.Name } />;

      case "interaktion.kontaktformular":
        return <Form fields={ item.Formularfeld } forwarding={ item.Weiterleitung } />;

      case "medien.bild":
        return <Bild src={ item.Bild.url } alt={ item.Bild.name } width={ item.Bild.width } height={ item.Bild.height } />;

      case "medien.galerie":
        return <Gallery images={ item.Galerie } />;

      case "layout.personenraster":
        return <Personenraster people={ item.Personeneintrag } />;

      case "layout.monatstanz":
      case "layout.workshop": 

      default: 
        console.log(item.__component);
        return <h2>{ item.__component }</h2>;
    };
  })
}
